body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}

button {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(45, 45, 45);
    box-sizing: border-box;
    color: #424242;
    font-weight: 700;
    font-size: 36px;
    width: 20%;
}

button:hover{
    background-color: #D3D3D3;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 85%;
    background-color: #71ab61;
    box-sizing: border-box;
    border:30px rgb(80, 82, 113) solid;
    border-radius: 5%;
}

.calculatorDisplay {
    display: flex;
    height: 30%;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
    padding-right: 5%;
    box-sizing: border-box;
    border: 20px rgb(45, 45, 45) solid;
    border-bottom: 10px rgb(45, 45, 45) solid;
}

.upperDisplay, .lowerDisplay {
    display: flex;
    height: 50%;
    justify-content: right;
    align-items: right;
}

.lowerDisplay {
    font-size: 36px;
}

.calculatorNums {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 4px rgb(45, 45, 45) solid;
}

.row {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

#equals {
    background-color: orange;
}

#equals:hover {
    background-color: #D37900;
}

#clear {
    background-color: red;
}

#clear:hover {
    background-color: #BB0000;
}

[id='0'] {
    flex: 6 1 auto;
}

[id='÷'] {
    flex: .16 1 auto;
}

#backspace {
    flex: .16 1 auto;
}


