body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}

button {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border: 5px solid #1b1b1b;
    box-sizing: border-box;
    color: #424242;
    font-weight: 700;
    font-size: 36px;
    width: 20%;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 65%;
    background-color: #2c2e3b;
    border:50px #2c2e3b solid;
    border-radius: 5%;
    box-shadow: 5px 5px 18px black;
}

.calculatorDisplay {
    display: flex;
    background-color: #71ab61;
    height: 30%;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
    padding-right: 5%;
    box-sizing: border-box;
    border: 20px #1b1b1b solid;
    border-bottom: 10px #1b1b1b solid;
}

.upperDisplay, .lowerDisplay {
    display: flex;
    height: 50%;
    justify-content: right;
    align-items: right;
}

.lowerDisplay {
    font-size: 36px;
}

.calculatorNums {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 4px #1b1b1b solid;
}

.row {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.numberButton {
    background-color: #d3cfc3;
}

.numberButton:hover {
    background-color: #a09c93;
}

.operatorButton {
    background-color: #394882;
    color: #f0f0f0;
}

.operatorButton:hover {
    background-color: #222b4e;
}

#equals {
    background-color: #df6603;
    color: #f0f0f0;
}

#equals:hover {
    background-color: #ac4e02;
}

#clear {
    background-color: red;
    color: #f0f0f0;
}

#clear:hover {
    background-color: #BB0000;
}

#backspace {
    background-color: #579b81;
    color: #f0f0f0;
}

#backspace:hover {
    background-color: #3a6756;
}

[id='0'] {
    flex: 6 1 auto;
}

[id='÷'] {
    flex: .16 1 auto;
}

#backspace {
    flex: .16 1 auto;
}


